<%- include('common/header'); -%>

<ul class="items">
    <li class="item">
        <h4>Item 1</h4>
        <p>Useful Item</p>
    </li>
    <li class="item">
        <h4>Item 1</h4>
        <p>Magic Item</p>
    </li>
    <li class="item">
        <h4>Item 1</h4>
        <p>Common Item</p>
    </li>
</ul>


<%- include('common/footer'); -%>
