<%- include('common/header'); -%>

<header>
    <div class="headings">
        <h2>Express auth template</h2>
        <a href="/content" class="btn">Check content</a>
    </div>
</header>

<%- include('common/footer'); -%>
